root = true

# https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/docs/format_config_EN.md

# [Basics]
[*]
indent_style             = space
indent_size              = 2
continuation_indent      = 4
end_of_line              = crlf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true
max_line_length          = 120

# [Space]
space_before_function_open_parenthesis      = false
space_before_function_call_open_parenthesis = false
space_around_table_field_list               = false
space_inside_square_brackets                = false

space_before_attribute                       = true
space_before_closure_open_parenthesis        = true
space_inside_function_call_parentheses       = true
space_inside_function_param_list_parentheses = true

# [Operator Space]
space_around_math_operator         = true
space_after_comma                  = true
space_after_comma_in_for_statement = true
space_around_concat_operator       = true

# [Alignment]
align_call_args                   = false
align_if_branch                   = false

align_function_params             = true
align_continuous_assign_statement = true
align_continuous_rect_table_field = true
align_continuous_line_space       = 2

# [Flow Lines]
line_space_after_function_statement = fixed(2)
line_space_after_if_statement       = fixed(1)
line_space_after_do_statement       = fixed(1)
line_space_after_while_statement    = fixed(1)
line_space_after_repeat_statement   = fixed(1)
line_space_after_for_statement      = fixed(1)
