# Temp datafiles
wheres.txt
roomData.txt
troll.txt

# Localized configuration files; use templates to check in new functionality
gizmo/config/login.lua
gizmo/config/config_local.lua

# Contents of an unpacked .mpackage file
gizmo/gizmudlet.xml
gizmo/gizmudlet2.xml
gizmo/config.lua
gizmo/.mudlet

# Anything in the sandbox if it's present
sandbox/

# Local VSCode settings & config
.vscode/

# Gizmo assets for building a Wiki (maybe later)
gizmo/assets/tools/
gizmo/assets/wiki/
gizmo/assets/img/t/

