# Localized configuration files; use templates to check in new functionality
gizmo/config/login.lua
gizmo/config/config_local.lua

# Contents of an unpacked .mpackage file
gizmo/gizmudlet.xml
gizmo/config.lua
gizmo/.mudlet

# Created by parse_xml.py
gizmo/gizmudlet.lua

# Anything in the sandbox if it's present
sandbox/

# Local VSCode settings & config
.vscode/

# Gizmo assets for building a Wiki (maybe later)
gizmo/assets/
